// -------------------------------------------------------------------------
// Container component
// -------------------------------------------------------------------------

.lgp-container {
  margin: 0 auto;
  @include fluid-prop(width, -30px, 1200px, $grid-breakpoint-xxs, $grid-breakpoint-xxl);
}


// -------------------------------------------------------------------------
// Grid component (for homogeneous items)
// -------------------------------------------------------------------------

.lgp-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  &.with-gutter {
    @include fluid-prop(margin, -($grid-gutter-min / 2), -($grid-gutter-max / 2));
  }
}
.lgp-grid > .grid-item {
  flex: 1 1 auto;
  width: 100%;
}
.lgp-grid.with-gutter > .grid-item {
  @include fluid-prop(padding, ($grid-gutter-min / 2), ($grid-gutter-max / 2));
}
@each $breakpoint in map-keys($grid-breakpoint-aliases) {
  @media (min-width: $breakpoint) {
    @for $columns from 1 through $grid-columns {
      .lgp-grid.#{map_get($grid-breakpoint-aliases, $breakpoint)}-columns-#{$columns} > .grid-item {
          max-width: calc(100% / #{$columns});
      }
    }
  }
}


// -------------------------------------------------------------------------
// Table component
// -------------------------------------------------------------------------

.lgp-table {
  display: flex-column;

  .table-item:not(:first-child) {
    margin-top:$table-spacing; 
  }
}


// -------------------------------------------------------------------------
// Profile photos
// -------------------------------------------------------------------------

.profile-photo {
  position: relative;
  border: 1px solid $color-white;
  border-radius: 50%;
  overflow: hidden;
  flex: 0 0 auto;

  &.shadow {
    box-shadow: $image-box-shadow;
  }

  .photo, .avatar {
    @include position(absolute, 0 0 null null);
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .photo {
    background-size: cover;
    background-position: center center;
  }
  .avatar {
    fill: $color-brand-grey-light;
    background-color: rgba($color-white, .5);
  }
}


// -------------------------------------------------------------------------
// Password strength widget
// -------------------------------------------------------------------------

.password-strength {
  margin-top: 10px;

  .caption {
    margin-right: 10px;
  }
  .widget {
    display: inline-block;
    position: relative;
    width: 100px;
    margin-bottom: 1px;

    .track, .indicator {
      @include position(absolute, 0);
      height: 2px;
    }
    .track {
      width: 100%;
      background-color: $color-brand-grey-light;
    }
    .indicator {
      background-color: $color-brand-fuchsia;
    }
  }

}


// -------------------------------------------------------------------------
// Divider strength widget
// -------------------------------------------------------------------------

.divider {
  display: flex !important;
  align-items: center;

  &::before, &::after {
    flex: 1 1 auto;
    content: ' ';
    display: block;
  }
  .caption {
    flex: 0 0 auto;
  }

  &.vertical {
    flex-direction: column;
    height: 100%;

    &::before, &::after {
      border-left: 1px solid rgba($color-brand-grey-dark, .3);
    }
    .caption {
      font-family: $font-family-button;
      font-size: .7rem;
      font-weight: 500;
      letter-spacing: 0.075rem;
      text-transform: uppercase;
      margin: 10px 0;
    }
  }
  &.horizontal {
    width: 100%;
    &::before, &::after {
      border-top: 1px solid rgba($color-brand-grey-dark, .3);
    }
    .caption {
      margin: 0 10px;
    }
  }
}




  // -------------------------------------------------------------------------
// Navbar Burger
// -------------------------------------------------------------------------

.nav-burger {
  width: 50px;
  height: 50px;
  padding: 17px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  *[class^="line-"] {
    width: 100%;
    height: 2px;
    background-color: $color-white;
    border-radius: 1px;
    transform-origin: center center;
    transition: $navbar-navs-toggle-duration;
  }
  &.blue *[class^="line-"] {
    background-color: $color-brand-blue;
  }
  
  .line-2 {
    width: 75%;
  }
  &.left .line-2 {
    align-self: flex-start;
  }
  &.right .line-2 {
    align-self: flex-end;
  }
}


// -------------------------------------------------------------------------
// Bookmark Toggle
// -------------------------------------------------------------------------

.bookmark-toggle {
  display: block;
  cursor: pointer;
  pointer-events: auto;
  padding: ($button-size-normal / 2);

  .icon-wrapper {
    position: relative;
    @include fluid-prop(width, $component-icon-size-sm, $component-icon-size-lg);
    @include fluid-prop(height, $component-icon-size-sm, $component-icon-size-lg);
  }
  .icon {
    width: 100%;
    height: 100%;
    fill: $color-brand-blue;
    @include position(absolute, 0 null null 0);
  }
  .filler {
    opacity: 0;
    transition: $component-hover-fx-duration;
  }
  .bookmark & .filler {
    opacity: 1;
  }
}


// -------------------------------------------------------------------------
// Collapsible alert box
// -------------------------------------------------------------------------

.lgp-alert {
  position: relative;
  background-color: $color-brand-grey-dark;

  &.alert-green {
    background-color: $color-brand-green;
  }
  &.alert-fuchsia {
    background-color: $color-brand-fuchsia;
  }
  &.fixed {
    @include position(fixed, null 0);
    z-index: 10;
  }
  &.fixed.show + * {
    padding-top: 80px;
  }
  .content {
    padding: 21px 60px 21px  0;
  }
  .message {
    color: $color-white;
    font-family: $font-family-header;
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }
  .close {
    @include position(absolute, 0 0 null null);
  }
  .ctas {
    margin-left: 30px;
  }
}


// -------------------------------------------------------------------------
// Prompt for empty and other infomative content
// -------------------------------------------------------------------------

.lgp-prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $font-family-header;
  max-width: 550px;
  margin: 60px auto;

  &.pos-center, &.flexed {
    margin: 0;
  }

  .icon {
    width: 70px;
    height: 70px;
    padding: 10px;
    fill: $color-brand-grey-light;

    &.with-bg {
      width: 130px;
      height: 130px;
      padding: 35px;
      border-radius: 50%;
      background-color: $color-brand-ash;
    }
    
    &.icon-lg {
      width: 80px;
      height: 80px;
      padding: 10px;
    }
    &.icon-green-mint {
      fill: $color-brand-green-mint;
    }
    &.icon-blue-turquoise {
      fill: $color-brand-blue-turquoise;
    }
  } 
  .caption, .cta {
    margin-top: 20px; 
  }
  .cta .btn {
    margin: 5px 5px;
  }
}