.lgp-form, .lgp-form-alt {

  .form-group {
    font-size: 1rem;
    margin-bottom: 2.5rem;
  }

  .form-control {
    appearance: none;
    outline: none;
    font-family: $font-family-input;
    font-size: 1em;
    font-weight: 300;
    height: $form-control-size-normal;
    padding: 0 ($form-control-size-normal / 3);
    border: 1px solid rgba($color-brand-grey-light, $form-control-blur-opacity);
    border-radius: $component-border-radius;
    background-color: rgba($color-white, $form-control-blur-opacity);
    color: $color-brand-blue;
    transition: $component-hover-fx-duration;
  
    &:focus {
      background-color: $color-white;
      border-color: rgba($color-brand-blue, .3);
      box-shadow: none;
    }
    &[readonly] {
      padding: 0 !important;
      border: none;
      background-color: transparent;
      height: $button-size-sm !important;
    }
  }

  label {
    color: $color-brand-blue;
    font-family: $font-family-input;
    margin-bottom: 10px;

    &.form-label-caps {
      font-size: .7rem;
      font-weight: 500;
      letter-spacing: 0.075rem;
      text-transform: uppercase;
    }
    .extra {
      display: inline-block;
      color: $color-brand-grey-dark;
      margin-left: 10px;
    }
  }
  .custom-control {
    padding-left: 0;
  }
  .custom-control-label {
    color: $color-brand-grey-dark;
    font-family: $font-family-input;
    margin-bottom: 0;
    padding-left: 35px;
    line-height: 1.3;
    cursor: pointer;

    &::before, &::after {
      transition: $component-hover-fx-duration;
    }
    &::before {
      top: 0;
      width: 20px;
      height: 20px;
      border: 2px solid $color-brand-grey-light; 
      background-color: transparent;
    }
    &:hover::before {
      border-color: $color-brand-fuchsia;
    }
    &::after {
      top: 5px;
      left: 5px;
      width: 10px;
      height: 10px;
      background-color: transparent;
    }
  }
  .custom-control-input:checked ~ .custom-control-label {
    &::before {
      border-color: $color-brand-fuchsia;
      background-color: transparent;
    }
    &::after {
      background-image: none; 
      background-color: $color-brand-fuchsia;
    }
  }
  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
  }
  .custom-radio {
    .custom-control-label::before, .custom-control-label::after  {
      border-radius: 50%;
    }
  }
  .custom-checkbox {
    .custom-control-label::before  {
      border-radius: 0; // $component-border-radius;
    }
    .custom-control-label::after {
      border-radius: 0;
    }
  }
  .select-wrapper {
    position: relative;
  
    &::after {
      content: '';
      width: $caret-size;
      height: $caret-size;
      border: $caret-size solid $color-brand-blue;
      border-left-color: transparent;
      border-top-color: transparent;
      box-sizing: border-box;
      transform-origin: center center;
      transform: translateY(-75%) rotate(45deg);
      pointer-events: none;
      @include position(absolute, 50% ($caret-size * 6) null null);
    }
    select {
      width: 100%;
      padding: 0 $form-control-size-normal 0 ($form-control-size-normal / 2);
    }
  }
  .form-text {
    color: $color-brand-grey-dark;
    font-family: $font-family-input;
    margin-top: 10px;
  }
  .input-group-text {
    font-family: $font-family-input;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    border: 1px solid rgba($color-brand-grey-light, $form-control-blur-opacity);
    border-radius: $component-border-radius;
    background-color: $color-brand-ash-dark;
    color: $color-brand-blue;
  }
  

  // form control sizing
  
  $form-control-size-map: (
    sm: ($form-control-size-sm, .8rem),
    md: ($form-control-size-md, 1rem),
    lg: ($form-control-size-lg, 1rem),
    xl: ($form-control-size-xl, 1.2rem)
  );
  @each $size-name, $size-values in $form-control-size-map {
    $form-control-size: nth($size-values, 1);
    $font-size: nth($size-values, 2);
    
    .form-control.form-control-#{$size-name} {
      height: $form-control-size;
      padding: 0 ($form-control-size / 3);
      font-size: $font-size;
    }
    select.form-control.form-control-#{$size-name} {
      height: $form-control-size;
      padding: 0 $form-control-size 0 ($form-control-size / 3);
      font-size: $font-size;
    }
    textarea.form-control.form-control-#{$size-name} {
      height: unset;
      padding: ($form-control-size / 3);
      font-size: $font-size;
    }
  }
}

.lgp-form-alt {
  .form-group {
    margin-bottom: 2.2rem;
  }
  .form-control {
    font-size: 1.1em;
    font-weight: 500;
  }
  label {
    color: $color-brand-grey-dark;
    margin-bottom: 12px;
  }
  .custom-control-label {
    color: $color-brand-blue;
    font-size: 1.2em;
    font-weight: 500;
  }
  .form-header {
    color: $color-brand-grey-dark !important;
  }

  // sizing:
  $form-control-size-map: (
    sm: ($form-control-size-sm, .8rem),
    md: ($form-control-size-md, 1.2rem),
    lg: ($form-control-size-lg, 1.2rem),
    xl: ($form-control-size-xl, 1.2rem)
  );
  @each $size-name, $size-values in $form-control-size-map {
    $form-control-size: nth($size-values, 1);
    $font-size: nth($size-values, 2);
    
    .form-control.form-control-#{$size-name} {
      height: $form-control-size;
      padding: 0 ($form-control-size / 3);
      font-size: $font-size;
    }
    select.form-control.form-control-#{$size-name} {
      height: $form-control-size;
      padding: 0 $form-control-size 0 ($form-control-size / 3);
      font-size: $font-size;
    }
    textarea.form-control.form-control-#{$size-name} {
      height: unset;
      padding: ($form-control-size / 3);
      font-size: $font-size;
    }
  }
}
