.illustrated-item {
  max-width: 250px;

  @media (min-width: $grid-breakpoint-sm) and (max-width: $grid-breakpoint-md) {
    max-width: none;
  }
  @media (min-width: $grid-breakpoint-md) {
    max-width: 320px;
  }

  .illustration {
    width: 70px;
    height: 70px;
    padding: 15px;
    flex: 0 0 auto;

    .icon {
      fill: $color-brand-blue;
    }
  }
  .details {
    @media (min-width: $grid-breakpoint-sm) and (max-width: $grid-breakpoint-md) {
      padding: 15px;
    }
  }
  .title {
    color: $color-brand-blue;
    margin-top: 10px;
  }
  .description {
    margin-top: 20px;
  }
}




// -------------------------------------------------------------------------
// Loan Grid-Card component
// -------------------------------------------------------------------------

.loan-grid-card {
  position: relative;
  display: block;
  width: 100%;
  border-radius: $component-border-radius;
  border: 1px solid rgba($color-white, 1);
  box-shadow: 0 20px 100px 4px rgba($color-black, 0.08);
  outline: none;
  overflow: hidden;
  font-family: $font-family-card;
  font-size: 1em;
  transition: $component-hover-fx-duration;

  :focus {
    outline: none;
  }

  .card-section {
    @include fluid-prop(padding, 20px, 30px);

    &.body {
      background-color: $color-white;
    }
    &.footer {
      color: $color-brand-blue;
      background-color: $color-brand-nude;
    }
  }
  .details {
    position: relative;
    width: 100%;
  }
  .title {
    margin-bottom: 1rem;
    color: $color-brand-blue;
  }
  .detail {
      margin-top: .1rem;

    &.separate {
      @include fluid-prop(margin-top, 20px, 35px);
    }
    &.separate-more {
      @include fluid-prop(margin-top, 35px, 70px);
    }
  }
  .bookmark-toggle {
    margin-top: -($button-size-normal / 2);
    margin-right: -($button-size-normal / 2);
    @include position(absolute, 0 0 null null);
  }
  .profile-name {
    margin-left: 15px;
  }
  .profile-photo {
    width: $button-size-normal;
    height: $button-size-normal;
    @include fluid-prop(width, 30px, 40px);
    @include fluid-prop(height,  30px, 40px);

    .avatar {
      fill: $color-white;
      background-color: transparent;
    }
  }
  .rating {
    display: flex;

    .icon {
      fill: $color-brand-grey-light;
      width: $component-icon-size-xs;
      height: $component-icon-size-xs;

      &:not(:first-child) {
        @include fluid-prop(margin-left, 2px, 5px, $grid-breakpoint-md);
      }
    }
    @for $i from 1 through 5 {
      &.stars-#{$i} .icon:nth-child(-n + #{$i}) {
        fill: $color-brand-blue;
      }
    }
  }

  //states
  &:hover, &:focus {
    border: 1px solid rgba(mix($color-brand-fuchsia, $color-brand-orange, 50%), .5);
    box-shadow: 0 20px 80px 5px rgba(mix($color-brand-fuchsia, $color-black, 30%), 0.2);
    transform: scale(1.05);
    z-index: 2;
  }
  &:active {
    border-color: rgba($color-brand-fuchsia, .5);
  }
}


// -------------------------------------------------------------------------
// Loan List-Card component
// -------------------------------------------------------------------------

.loan-list-card {
  display: block;
  outline: none;
  overflow: hidden;
  font-family: $font-family-card;
  font-size: 1rem;
  color: $color-brand-grey-dark;
  background-color: $color-white;
  border-radius: $component-border-radius;
  border: 1px solid rgba($color-white, 1);
  box-shadow: 0 20px 80px 4px rgba($color-black, 0.02);
  padding: 15px;
  transition: $component-hover-fx-duration;

  :focus {
    outline: none;
  }
  .detail {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;

    &.clear-overflow {
      overflow: visible;
    }
  }
  &.has-profile-photos .detail {
    min-height: $button-size-sm;
  }
  .profile-photo {
    width: $button-size-sm;
    height: $button-size-sm;
    
    .avatar {
      fill: $color-white;
      background-color: $color-brand-peach;
    }
  }
  .profile-photo + .profile-photo {
    margin-left: -15px;
  }
  .rating {
    display: flex;

    .icon {
      fill: $color-brand-grey-light;
      width: $component-icon-size-xs;
      height: $component-icon-size-xs;
      flex: 0 0 auto;

      &:not(:first-child) {
        @include fluid-prop(margin-left, 2px, 5px, $grid-breakpoint-md);
      }
    }
    @for $i from 1 through 5 {
      &.stars-#{$i} .icon:nth-child(-n + #{$i}) {
        fill: $color-brand-blue;
      }
    }
  }

  //states
  &:hover, &:focus {
    border: 1px solid rgba(mix($color-brand-fuchsia, $color-brand-orange, 50%), .5);
    box-shadow: 0 10px 30px 7px rgba(mix($color-brand-fuchsia, $color-black, 30%), 0.08);
    transform: scale(1.03);
    z-index: 2;
  }
  &:active {
    border-color: rgba($color-brand-fuchsia, .5);
  }

  .table-header &, &.table-header {
    opacity: .7;
    background-color: transparent;
    border: none;
    box-shadow: none;
    pointer-events: none;

    @media screen and (min-width: $grid-breakpoint-md) {
    font-size: .95em;
    }
  }
}


// -------------------------------------------------------------------------
// Chat Message-Card component
// -------------------------------------------------------------------------

.chat-message-card {
  display: block;
  position: relative;
  outline: none;
  font-family: $font-family-card;
  font-size: 1rem;
  color: $color-brand-blue;
  background-color: $color-white;
  border-radius: $component-border-radius;
  border: 1px solid $color-brand-ash-dark;
  padding: 15px 25px;
  margin: 30px 0;
  max-width: 600px;
  width: 100%;
  transition: $component-hover-fx-duration;

  &.has-footer {
    padding-bottom: 0;
  }
  .meta {
    @include position(absolute, -25px 0 null 0);
    font-family: $font-family-header;
    color: $color-brand-grey-dark;
  }
  .badge {
    @include position(absolute, 25px 25px null null);

    .icon {
      width: 40px;
      height: 40px;
    }
    .icon-green-mint {
      fill: $color-brand-green-mint;
    }
    .icon-blue-turquoise {
      fill: $color-brand-blue-turquoise;
    }
  }
  .body {
    .header {
      font-size: 1em;
      color: $color-brand-grey-dark;
    }
    .title {
      color: $color-brand-blue;
      font-weight: 500;
    }
    .detail {
      display: block;
      font-family: $font-family-header;
      margin-bottom: 3px;

      .value {
        color: $color-brand-blue;
      }
    }
  }
  .footer {
    min-height: 40px;

    .cta {
      padding-left: 0;
      padding-right: 0; 
    }
    .cta-info {
      font-style: italic;
      color: $color-brand-grey-dark;
    }
  }

  &.own {
    align-self: flex-end;
    background-color: $color-brand-nude;
    border-color: rgba(mix($color-brand-fuchsia, $color-brand-orange, 50%), .1);

    .meta {
      text-align: right;
    }
  }
}