
.hero-navbar {
  @include position(absolute, 0 0 null 0);
  z-index: 10;
  transition: $navbar-theme-change-duration;
  animation: slide-down 1s ease-in-out;

  // components

  > .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    transition: height $navbar-theme-change-duration;
  }

  .brand .logo {
    width: 100px;
    height: 25px;
    fill: $color-white;
    position: relative;
    z-index: 100;
    transform: translateY(3px);

    @media (min-width: $grid-breakpoint-md) {
      width: 125px;
      height: 31px;
    }
  }

  .navs {
    display: flex;
    align-items: center;
  }

  .mobile-nav {
    @include position(fixed, 0 0 0 0);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: auto;
    pointer-events: none;

    @media (min-width: $grid-breakpoint-lg) {
      display: none;
    }

    &::before {
      @include position(absolute, 0 0 0 0);
      content: '';
      background-color: $color-brand-blue;
      opacity: 0;
      transition: $navbar-navs-toggle-duration;
    }
    > .content {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      padding: 100px 0 50px;
    }
    .nav-link {
      font-family: $font-family-button;
      font-size: 1.5rem;
      font-weight: 300;
      color: $color-white;
      text-align: center;
      text-decoration: none;
      transform: translateY(-100%);
      opacity: 0;
      transition: $navbar-navs-toggle-duration;
      @include fluid-prop(font-size, 18px, 24px);
      @include fluid-prop(padding-top, 20px, 32px);

      @media (min-width: $grid-breakpoint-md) {
        text-align: left;
      }
    }
  }

  .top-nav {
    display: none;

    @media (min-width: $grid-breakpoint-lg) {
      display: flex
    }
    .cta {
      margin-left: 2rem;
    }
  }

  .nav-burger {
    margin-right: -15px;
    position: relative;
    z-index: 100;

    @media (min-width: $grid-breakpoint-lg) {
      display: none;
    }
  }


  // states

  &.fixed {
    @include position(fixed, 0 0 null 0);
  }
  &.condensed {
    & > .content {
      height: 70px;
    }
  }
  &.pink-theme {
    background-color: rgba(mix(mix($color-brand-fuchsia, $color-black, 95%), $color-brand-orange, 90%), .9);
    box-shadow: 0 20px 80px 5px rgba(mix($color-brand-fuchsia, $color-black, 55%), 0.35);
  }

  input.mobile-nav-toggle:checked ~ & {
    .nav-burger {
      .line-1 {
        transform: translateY(7px) rotate(45deg) scaleX(1.2);
      }
      .line-2 {
        transform: scaleX(0);
        opacity: 0;
      }
      .line-3 {
        transform: translateY(-7px) rotate(-45deg) scaleX(1.2);
      }
    }
    .mobile-nav {
      pointer-events: auto;

      &::before {
        opacity: $overlay-opacity;
      }
      .nav-link {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}
