.header-xl,
.header-lg,
.header-md,
.header-md-alt,
.header-sm {
  font-family: $font-family-header;
  line-height: 0.95;
  margin: 0;
}

.header-xl {
  @include fluid-prop(font-size, 26px, 70px);
  @include fluid-prop(letter-spacing, -0.5px, -3.6px);
  font-weight: 700;
  line-height: 1;
}

.header-lg {
  @include fluid-prop(font-size, 24px, 50px);
  @include fluid-prop(letter-spacing, -0.5px, -1.8px);
}

.header-md {
  @include fluid-prop(font-size, 22px, 36px);
  @include fluid-prop(letter-spacing, -0.5px, -1px);
  font-weight: 500;
}

.header-md-alt {
  @include fluid-prop(font-size, 22px, 36px);
  @include fluid-prop(letter-spacing, -0.5px, -1px);
  font-weight: 100;
  letter-spacing: 0.3px;
}

.header-sm {
  @include fluid-prop(font-size, 20px, 30px);
  @include fluid-prop(letter-spacing, -0.5px, -1px);
  font-weight: 700;
}

.header-xs {
  @include fluid-prop(font-size, 18px, 20px);
  font-weight: 300;
}

.text-small {
  font-size: .8em;

  @media (min-width: $grid-breakpoint-sm) {
    font-size: .8rem;
  }
}
.text-micro {
  font-size: .6em;

  @media (min-width: $grid-breakpoint-sm) {
    font-size: .6rem;
  }
}

.text-bold {
  font-weight: 500;
}
.text-heavy {
  font-weight: 700;
}
.text-black {
  font-weight: 900;
}

.text-unit {
  font-size: .7em;
  font-weight: 900;
  margin-right: .18em;
}
.text-underlined {
  text-decoration: underline !important;
}
.text-italics {
  font-style : italic !important;
}
.text-accent {
  color: $color-accent !important;
}
.text-accent-sec {
  color: $color-brand-blue !important;
}
.text-success {
  color: $color-success !important;
}
.text-error {
  color: $color-error !important;
}


a.text-link {
  font-family: $font-family-button;
  color: $color-brand-blue;
  text-decoration: none;

  &:hover {
    color: $color-brand-fuchsia;
  }
  &:active, &:focus {
    color: $color-brand-orange;
  }
}