/* New features */

/* Marketplace */

.welcome__modal-header {
    color: #000;
    text-align: center;
    font-size: 20px;
    margin-bottom: 16px;
}

.welcome__modal-info {
    font-size: 1.2em !important;
}

.welcome__modal-info-key {
    color: #000 !important;
    font-weight: 600 !important;
}

.welcome__modal-icon {
    margin: 0 auto;
    margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
    .welcome__modal {
        max-width: 500px !important;
    }
}

.tour {
    padding: 30px;
    position: fixed;
    background-color: #FFF;
    width: 26%;
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.3);
    z-index: 1;
    border-radius: 5px;
    margin-left: 18px;
    -webkit-animation: bounce-in-fwd 2s both;
    animation: bounce-in-fwd 2s both;
}

.tour:after {
    content: ' ';
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #FFF;
    position: absolute;
    right: 100%;
    top: 7%;
    margin-left: -10px;
}

.tour__heading {
    color: #000 !important;
    font-weight: 600;
}

.tour__info {
    color: #000;
    font-weight: 500;
}

.tour__marketplace {
    top: 84px;
    display: none;
}

.tour__borrow {
    top: 87px;
    /* top: 146px; */
    display: none;
}

.tour__lend {
    top: 146px;
    /* top: 201px; */
    display: none;
}

.tour__transactions {
    top: 205px;
    /* top: 263px; */
    display: none;
}

.tour__account {
    top: 263px;
    /* top: 323px; */
    display: none;
}

@media screen and (max-width: 1006px) {
    .tour {
        width: 36%;
    }
}

@media screen and (max-width: 767px) {
    .tour {
        width: calc(100% - 100px);
        margin-left: 8%;
        top: 30%;
    }
    .tour:after {
        display: none;
    }
}

/* Account */

.linked__account {
    box-shadow: 0px 1px 6px 0px rgba(57, 73, 76, 0.35);
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
}

.linked__account:hover {
    box-shadow: 0px 2px 10px 0px rgba(57, 73, 76, 0.5);
}

.linked__account-text {
    color: #656565;
    margin: 0 !important;
    vertical-align: middle;
    font-size: 1.3em;
    font-weight: 500;
}

.connected-facebook {
    color: #4267b2;
}

.connected-linkedin {
    color: #0073b1;
}

.connected-twitter {
    color: #4ab3f4;
}

.connected-google {
    color: #34a853;
}

.connected-google-icon {
    background: -webkit-linear-gradient(#ea4335, #fbbc05, #34a853, #4285f4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tab-input:checked+.btn.loan-offer-btn {
    pointer-events: none;
    color: #FFF;
    background-color: #7D95BB !important;
}

.btn.loan-offer-btn:hover {
    color: #7D95BB !important;
}

.loan-offers:hover,
.loan-offers:focus {
    border: 1px solid #7d95bb !important;
    box-shadow: 0 20px 80px 5px rgba(125, 149, 187, 0.2) !important;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 2;
}

.loan-offers:active {
    border-color: rgb(125, 149, 187) !important;
}

.loan-grid-card .card-section.loan-offer-footer {
    color: #113E52;
    background-color: #EDF1F7;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-8-7 9:30:52
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-fwd
 * ----------------------------------------
 */

@-webkit-keyframes bounce-in-fwd {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: scale(0.84);
        transform: scale(0.84);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    89% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes bounce-in-fwd {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: scale(0.84);
        transform: scale(0.84);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    89% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}