// -------------------------------------------------------------------------
// Page
// -------------------------------------------------------------------------

.page-section:not(.image-bg-section) .content {
  @include fluid-prop(padding-top, 50px, 70px, $grid-breakpoint-xs);
  @include fluid-prop(padding-bottom, 50px, 70px, $grid-breakpoint-xs);
}

.manage-account.page-section .content {
  padding-top: 0;
}
.manage-account .lgp-tabs {
  @include fluid-prop(margin-top, 15px, 27px, $grid-breakpoint-md);

  .tab-panel {
    @include fluid-prop(margin-top, 60px, 100px, $grid-breakpoint-md);
  }
}

// -------------------------------------------------------------------------
// profile section
// -------------------------------------------------------------------------
  
.profile-info {
  .form-group {
    margin-bottom: 1.8rem;
  }
  .profile-photo {
    flex: 0 0 auto;
    width:260px;
    height: 260px;
    border-radius: 0;
    // border: none;
    
    @include fluid-prop(width, 200px, 260px, $grid-breakpoint-sm);
    @include fluid-prop(height, 200px, 260px, $grid-breakpoint-sm);

    .photo, .avatar {
      border-radius: 0;
    }
    .upload.btn {
      width: 100%;
      border-radius: 0;
      @include position(absolute, null 0 0 0);
      @include btn-color-themes(
        $normal: $color-white rgba($color-white, .3) null,
        $hover: $color-brand-fuchsia rgba($color-white, .8) null null
      );
    }
  }
}

.linked-accounts-form {
  .form-group {
    margin-bottom: 1.8rem;
  }
}


