// -------------------------------------------------------------------------
// Page
// -------------------------------------------------------------------------

.loan-details.page {
  display: flex;
  flex-direction: column;
}

.interested.page-section {
  position: relative;
  background-color: $color-white;

  .content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}